html, body {
    height: 100%;
    width: 100%;
  }
  body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
/*     background: url('https://source.unsplash.com/random/1920x1080/'); */
    overflow: hidden;
  }
  
  .confirm-message{
    display: none;
  }
  .confirm-message.show{
    display: block;
  }
