@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;700&display=swap');
body {
    padding: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 2em;
    user-select: none;
    font-family: 'Unbounded', cursive;
    overflow: hidden;
}
.game-board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 50vmin;
    width: 50vmin;
    gap: 0.5em;
    background: #11191f;
}
.cell {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}
button{
    padding: 1em 2em;
    background-color: #11191f;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
button:hover{
    background-color: #0d202f;
}
.cell{
    cursor: pointer;
}
.cell:hover{
    background-color: #bbd3e3;
}
.cell.win{
    background-color: #cdb4db;
}
.modal-container{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3rem;
    border-radius: .25rem;
    background-color: #cdb4db;
    
}
h2,h3,.modal-btn{
    text-align: center;
    font-size: 48px;
}
.modal-container.open{
    display: block;
}
.modal-btn{
    display: flex;
    border: none;
    /* margin: 0; */
    margin-top: 2em;
    padding: .5em 1em;
    
}
#overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .75);
}
#overlay.open {
    display: block;
}